
body {
  background-image: url("https://free4kwallpapers.com/uploads/originals/2019/08/12/ice-and-glaciers-wallpaper.jpg"); /* Add the url of your background image */
  background-size: cover; /* Scale the background image to cover the entire webpage */
  font-family: Arial, sans-serif; /* Change the font to Arial */
  color: white; /* Change the text color to white */
  background-color: black;
  overflow-y: scroll;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
}

.header {
  /*background-color: #0e0e0e; /* Add a background color to the header */
  padding: 20px; /* Add padding to the header */
  text-align: center; /* Center the text in the header */
}

#rad{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  letter-spacing: 4px;
  font-size: 18px;


}

input[type="radio"] {
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-left: 20px;
}


input[type="radio"] {
  appearance: none;
}

input[type="radio"]::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #000;
  position: relative;
  top: -10px;
  margin-right: 10px;
}

input[type="radio"]:checked::before {
  background-color: #000;
}



h1 {
  color: white; /* Change the text color of the header */
  
}

form { 
  /*background-image: url("https://free4kwallpapers.com/uploads/originals/2019/08/12/ice-and-glaciers-wallpaper.jpg");
  background-color: rgba(249, 247, 247, 1); /* Add a transparent background color to the form */
  padding: 20px; /* Add padding to the form */
  border-radius: 10px; /* Add rounded edges to the form */
 
}



label {
  font-weight: bold; /* Make the label text bold */
  display: inline-block; /* Display the label as an inline-block element */
  width: 40%; /* Set the width of the label to 30% of the parent container */
  text-align: right; /* Align the text in the label to the right */
  padding-right: 10px; /* Add padding to the right of the label */
  vertical-align: middle;
}

input[type=text] {
  background-color: white; /* Change the background color of the input fields */
  padding: 12px 20px; /* Add padding to the input fields */
  border: none; /* Remove the border of the input fields */
  border-radius: 4px; /* Add rounded edges to the input fields */
  margin: 8px 0; /* Add margin to the input fields */
  width: 16%; /* Set the width of the input fields to 60% of the parent container */
  display: inline-block; /* Display the input fields as an inline-block element */
  clear: both; /* Clear the float */
  margin-bottom: 10px;
  vertical-align: middle;

}

button[type=submit] {
  background-color: #6200EE; /* Change the background color of the submit button */
  color: white; /* Change the text color of the submit button */
  padding: 12px 20px; /* Add padding to the submit button */
  border: none; /* Remove the border of the submit button */
  border-radius: 4px; /* Add rounded edges to the submit button */
  cursor: pointer; /* Change the cursor to a pointer when hovering over the submit button */
  margin: auto; /* Add margin:auto to the submit button */
  display: flex; /* Display the form as a flex container */
  justify-content: center; /* Center the form horizontally */
  align-items: center; /* Center the form vertically */
  flex-wrap: wrap; /* Wrap the form elements if they exceed the width of the container */
}



#result {
  background-color: rgba(21, 21, 21, 0.2); /* Add a transparent background color to the result section */
  padding: 20px; /* Add padding to the result section */
  border-radius: 10px; /* Add rounded edges to the result section */
  text-align: center; /* Center the text in the result section */
  margin-top: 20px; /* Add a margin-top to the result section */
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); /* Add a box-shadow to the result section */
  border: 1px solid #ccc;
  display: flex; /* Display the result section as a flex element */
  justify-content: center; /* Center align the result section horizontally */
  align-items: center; /* Center align the result section vertically */
  position: relative;
}

#result h4 {
  position: absolute; /* Position the label absolute */
  top: -15px; /* Push the label 15px above the list items */
  left: 50%; /* Push the label to the middle of the list items */
  transform: translateX(-50%); /* Center align the label horizontally */
  text-align: center; /* Center align the text of the label */
  margin-bottom: 20px;
  color:rgb(246, 242, 242);
  font-size: 20px;
}

select {
  display: block; /* Display the select input as a block element */
  width: 30%; /* Set the width of the select input to 100% of the parent container */
  padding: 10px 20px; /* Add padding to the select input */
  margin: 8px auto; /* Add margin to the select input */
  border: 1px solid #ccc; /* Remove the border of the select input */
  border-radius: 4px; /* Add rounded edges to the select input */
  background-color: #f5f5f5; /* Add a background color to the dropdown box */
  text-align: center; /* Center the text in the select input */
  margin-bottom: 20px;
  font-size: 1em; /* Increase the font size of the options */
  appearance: none; /* Remove the default appearance of the dropdown box */
  -webkit-appearance: none; /* Remove the default appearance of the dropdown box for webkit browsers */
  -moz-appearance: none; /* Remove the default appearance of the dropdown box for mozilla browsers */
}
select:hover {
  background-color: #e5e5e5; /* Change the background color of the dropdown box when hovered */
  cursor: pointer; /* Change the cursor to a pointer when hovered */
}

select:active {
  background-color: #d5d5d5; /* Change the background color of the dropdown box when active */
}


#result ul {
  list-style-type: none; /* Remove the bullet points from the list */
  padding: 0; /* Remove the padding from the list */
  margin: 0; /* Remove the margin from the list */
  margin-top: 25px;
}

#result li {
  display: flex; /* Display the list items as flex elements */
  align-items: center; /* Align the list items vertically */
  font-size: 1.2em; /* Increase the font-size of the list items */
  margin-bottom: 10px; /* Add margin-bottom to the list items */
  letter-spacing: 2px;
}
img{
  width: 60%;
  height: 40%;
  object-fit: cover;
}
#graph-div {
  position: absolute; /* Position the graph absolute */
  display: inline;
  margin-left: 20px;
  top: 40%; /* Align the top of the graph with the middle of the input boxes */
  left: 4%; /* Align the left of the graph with the left of the input boxes */
  transform: translateY(-50%);/* Center align the graph vertically */
}
.image-container {
  display: none;
}

